{% extends "layouts/base.html" %} {% block content %}

<div class="tsms-container">
    <div class="breadcrumb">
        Submit Article / <a href="#">Author's Manuscript Guide</a>
    </div>
    <div class="tsms-issn">ISSN – 2489-0006</div>
    <div class="tsms-journal-title">
        The Social and Management Scientists (TSMS)
    </div>
    <p class="tsms-paragraph">
        The Social and Management Scientist (TSMS) is a peer reviewed Journal of Faculty of The Social Science, Adekunle Ajasin University, Akungba-Akoko, Ondo State, Nigeria. It is an interdisciplinary journal that focuses on social, management and behavioural sciences. The Journal creates an intellectual platform for presentation of innovative research ideas and critical research discussions. It is published in February and August every year. Research papers that are relevant in the field of social, economic, financial and political development are welcomed.
    </p>
    
    <div class="tsms-section-title">Author's Manuscript Guide</div>

    <div class="tsms-subsection-title">1. Originality</div>
    <p class="tsms-paragraph">
        Paper submitted should be an original and unpublished work. Any paper
        submitted which is identical or substantially like research work already
        published or under review for another publication will be rejected.
    </p>

    <div class="tsms-subsection-title">2. Submission of Manuscripts</div>
    <ul class="tsms-list">
        <li class="tsms-list-item">
            Manuscripts should be submitted in MS-Word to the journal website http://www.tsmsjournsl.org or by email to papersubmission.ftssaaua@gmail.com Once manuscript is received, an acknowledgement email stating the paper ID will be sent to corresponding author for further correspondence.
        </li>
    </ul>

    <div class="tsms-subsection-title">3. Structure of Manuscripts</div>
    <ul class="tsms-list">
        <li class="tsms-list-item">
            The cover page should be separated from the manuscript text and
            should contain the title of the manuscript, author(s) names and
            affiliation, contact addresses (e-mail and telephone numbers). The
            manuscript text should begin with abstract on a fresh page.
        </li>
        <li class="tsms-list-item">
            Title of manuscript should be concise and informative. Authors are
            advised to avoid lengthy titles.
        </li>
        <li class="tsms-list-item">
            Abstract of not more than 250 words showing the motivation of the
            study, methods and conclusion is required. The abstract should be
            simple and concise without any technical econometric or statistical
            indices.
        </li>
        <li class="tsms-list-item">
            Five (5) Keywords, JEL classifications and paper classification
            under any of the following (Research paper; view point; conceptual
            paper; case study; Literature review; general review; Doctoral
            Dissertation) should be indicated after the abstract.
        </li>
        <li class="tsms-list-item">
            The length limit for each manuscript is 20 galley-proof pages
            including figures, tables and references. A maximum of 25 pages is
            permitted at extra cost for additional pages.
        </li>
        <li class="tsms-list-item">
            Manuscript should be Times New Roman 12–point font size at 1.5 line
            spacing (except table with single space) with 1-inch or 2.54cm
            margin on all sides.
        </li>
        <li class="tsms-list-item">
            Tables should be typed on separate pages. Number the illustrations
            according to the sequence of the appearance in the text where they
            are to be labeled as “Table 1”, “Table 2”, etc.
        </li>
        <li class="tsms-list-item">
            Table titles should be short and self-explanatory. Each table must
            have an accompanying explanation and its source below it.
            Descriptions such as table below or above should be avoided.
        </li>
        <li class="tsms-list-item">
            A brief title should be given above each table and any footnotes
            below.
        </li>
        <li class="tsms-list-item">
            Manuscript should be written in English (either US or UK spelling is
            accepted, but not a mixture of both).
        </li>
    </ul>

    <div class="tsms-subsection-title">4. Organization of the Paper</div>
    <ul class="tsms-list">
        <li class="tsms-list-item">
            The manuscript should be divided into five (5) sections:
        </li>
        <li class="tsms-list-item tsms-indent">
            <strong>Introduction:</strong> It should provide a clear statement
            of the problem, the relevant literature on the subject, and the
            proposed approach or solution (statement of problem/gap in
            literature). It should be understandable to colleagues from a broad
            range of specific disciplines.
        </li>
        <li class="tsms-list-item tsms-indent">
            <strong>Data and Methods:</strong> Methods should be complete enough
            to allow methodology to be reproduced. However, only truly new
            procedures should be described in detail; previously published
            procedures should be cited, and important modifications of published
            procedures should be mentioned briefly.
        </li>
        <li class="tsms-list-item tsms-indent">
            <strong>Results:</strong> Results should be presented with clarity
            and precision. The results should be written in the past tense when
            describing findings in the author’s experiments. Previously
            published findings should be written in the past tense. Results
            should be explained, but largely without referring to the
            literature.
        </li>
        <li class="tsms-list-item tsms-indent">
            <strong>Discussions of findings:</strong> The Discussion should
            interpret the findings in view of the results obtained in the
            current study and in previous studies on the subject matter. This
            section should explain implications of findings for policy and
            current debate.
        </li>
        <li class="tsms-list-item tsms-indent">
            <strong>Conclusion:</strong> Should be in a few sentences at the end
            of the paper in line with the set objectives.
        </li>
        <li class="tsms-list-item">
            The Acknowledgments of people, grants, funds, etc. should be brief
            (Optional).
        </li>
    </ul>

    <div class="tsms-subsection-title">5. Illustrations</div>
    <ul class="tsms-list">
        <li class="tsms-list-item">
            All illustrations should be submitted in a form suitable for
            reproduction. Number the illustrations according to the sequence of
            their appearance in the text, where they are to be referred to as
            "Fig. 1." "Fig. 2", etc. Each illustration may have a legend if
            required.
        </li>
        <li class="tsms-list-item">
            Photographs should be glossy prints. The authors' name and figure
            number should be indicated on the back of each illustration.
        </li>
    </ul>

    <div class="tsms-subsection-title">6. Headings</div>
    <ul class="tsms-list">
        <li class="tsms-list-item">
            The following sequence of headings should be used: 1,11 (then 1.2,
            13), 111 (then 11.2, 113...)
        </li>
        <li class="tsms-list-item">
            Please refrain from using fourth level sections/headers.
        </li>
    </ul>

    <div class="tsms-subsection-title">7. Footnotes</div>
    <ul class="tsms-list">
        <li class="tsms-list-item">
            In the text, footnotes are not permitted. They should be properly
            included in the context.
        </li>
        <li class="tsms-list-item">
            Use smaller font size for table footnotes.
        </li>
    </ul>

    <div class="tsms-subsection-title">8. Symbols and Abbreviations</div>
    <ul class="tsms-list">
        <li class="tsms-list-item">
            Please use widely accepted symbols and forms of abbreviation.
        </li>
        <li class="tsms-list-item">
            If there is any doubt in your mind about a symbol or abbreviation
            given the full expression followed by the abbreviation, when it
            appears in the text for the first time.
        </li>
    </ul>

    <div class="tsms-subsection-title">9. Mathematics</div>
    <ul class="tsms-list">
        <li class="tsms-list-item">
            Mathematical expressions and equations should be properly
            typewritten, with all symbols aligned as they are to appear in
            print.
        </li>
        <li class="tsms-list-item">
            All Greek letters and other special symbols must be identified.
        </li>
        <li class="tsms-list-item">
            Vectors will be set in bold face and should be indicated in the
            manuscript by underlining with a way line.
        </li>
        <li class="tsms-list-item">
            Equations or formulas should be numbered serially on the right-hand
            side by Arabic numerals in parentheses.
        </li>
        <li class="tsms-list-item">
            Include DOI of the references whenever available
        </li>
        <li class="tsms-list-item">Please follow the style below:</li>
    </ul>

    <div class="tsms-subsection-title">10. References</div>
    <p class="tsms-paragraph">
        References must follow the current edition of the American Psychological
        Association (APA) 7th referencing style typed with single line spacing
        within a reference.
    </p>

    <div class="tsms-subsection-title">11. Peer Review Policy</div>
    <p class="tsms-paragraph">
        The journal adheres strictly to an accelerated and thorough double-blind
        review policy in which the identity of the reviewer and authors is not
        revealed to each other.
    </p>
    <p class="tsms-paragraph">
        All manuscripts are reviewed as soon as possible, and the editorial
        decision is reached within 3-4 weeks of submission. There is room for
        authors to opt for fast-track review of 2 weeks, but it attracts
        additional charges of N7000 or USD10 respectively. Manuscripts that fall
        under fast-track option would be published, if accepted for publication
        within the specified period. The reviewer recommendation determines
        whether an article will be "Accepted;" "Accepted subject to minor
        corrections; "Accepted subject to reaubmission with significant
        corrections; or "Rejected.
    </p>

    <div class="tsms-subsection-title">12. Publication Fee</div>
    <p class="tsms-paragraph">
        The total publication fee is thirty thousand netto only (N32,000) with
        equivalent of USD50.00 for international authors. The fee covers peer
        review charges and publishing fee, as follows.
    </p>

    <table class="tsms-fee-table">
        <tr>
            <th>Item</th>
            <th>Naira (₦)</th>
            <th>USD ($)</th>
        </tr>
        <tr>
            <td>Peer Review Charge</td>
            <td>7,000</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Publishing Charge</td>
            <td>25,000</td>
            <td>40</td>
        </tr>
    </table>

    <p class="tsms-paragraph">
        The peer review charge is paid on submission of the manuscript while the
        publishing charge is paid on acceptance of the article but before
        publication. The extra charges for fast-track review will be paid on
        submission of manuscript.
    </p>

    <p class="tsms-paragraph">
        Authors in Nigeria can make payment into the undetected account:<br />
        <strong class="tsms-strong"
            >JOURNAL OF SOCIAL AND MANAGEMENT SCIENCE</strong
        ><br />
        <strong class="tsms-strong">Zenith Bank Plc.</strong><br />
        <strong class="tsms-strong">1016811204</strong>
    </p>
</div>
{% endblock %}
