{% extends "layouts/base.html" %} {% block content %}
<!-- Main Content -->

<div class="main-content">
    <div class="text-content">
        <div class="logo-container">
            <img
                src="/static/assets/aaua-logo.png"
                alt="AAUA Logo"
                class="logo-img"
            />
        </div>
        <h3>AJET Journal</h3>
        <p>
            Akungba Journal of Economic Thought (AJET) is a print open access
            journal published by the Department of Economics, Faculty of The
            Social Sciences, Adekunle Ajasin University Akungba Akoko, Ondo
            State Nigeria.
        </p>
        <p>
            It primarily publishes scholarly research articles (short or
            preliminary research articles), and review articles, but is also
            open for book reviews.
        </p>
        <p>
            AJET disseminates theoretical and empirical, high-quality, original,
            and quality research spanning all aspects of economics and
            disciplines of social and management sciences.
        </p>
        <p>
            The AJET is a double-blind, peer-reviewed, and multidisciplinary
            research journal that publishes articles bi-annually. The journal
            also encourages authors from other disciplines in humanities with
            novel researches and approaches that may be interesting to our
            readers, to submit their manuscripts.
        </p>

        <a href="/submit" class="btn">Submit An Article</a>
    </div>
    <div class="image-content">
        <img
            src="/static/assets/ajet-img.png"
            alt="Student in library"
            class="content-img"
        />
        <div class="blue-box"></div>
    </div>
</div>

<div class="stats-division">
    <div class="stats">
        <div class="stat-item">
            <div class="stat-number">400+</div>
            <div class="stat-label">Articles</div>
        </div>
        <div class="stat-item">
            <div class="stat-number">200+</div>
            <div class="stat-label">Readers</div>
        </div>
        <div class="stat-item">
            <div class="stat-number">10+</div>
            <div class="stat-label">Editors</div>
        </div>
    </div>
</div>

<!-- Latest Publications -->
<section class="publications">
    <div class="pub-header">
        <h2>Latest Publications</h2>
        <a href="/journal" class="view-all">View All Publications →</a>
    </div>
    <div class="pub-grid">
        {% for journal in journals %}
        <div
            class="pub-card"
            onclick="window.location.href='/journals/{{journal.id_string()}}'"
            style="cursor: pointer"
        >
            <div class="pub-vol">
                Volume: {{journal.volume_number}}, Pages: {{journal.pages}}
            </div>
            <div class="pub-title">{{journal.title}}</div>
            <div class="pub-abstract">
                <strong>Abstract:</strong>
                <p>{{journal.abstract_text}}</p>
            </div>
            <div class="pub-meta">
                <img src="/static/assets/group.png" alt="Category icon" />
                <span>{{journal.keywords}}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
