{% extends "layouts/base.html" %} {% block content %}
<!-- Main Content -->

<div class="main-content">
    <div class="text-content">
        <div class="logo-container">
            <img
                src="/static/assets/aaua-logo.png"
                alt="AAUA Logo"
                class="logo-img"
            />
        </div>
        <h3>TSMS Journal</h3>
        <p>
            The Social and Management Scientist (TSMS) is a peer reviewed Journal of Faculty of The Social Science, Adekunle Ajasin University, Akungba-Akoko, Ondo State, Nigeria. 
        </p>
        <p>
            It is an interdisciplinary journal that focuses on social, management and behavioural sciences.
        </p>
        <p>
            The Journal creates an intellectual platform for presentation of innovative research ideas and critical research discussions. It is published in February and August every year. Research papers that are relevant in the field of social, economic, financial and political development are welcomed.
        </p>

        <a href="/submit" class="btn">Submit An Article</a>
    </div>
    <div class="image-content">
        <img
            src="/static/assets/tsms-aaua.jpg"
            alt="Student in library"
            class="content-img"
        />
        <div class="blue-box"></div>
    </div>
</div>

<div class="stats-division">
    <div class="stats">
        <div class="stat-item">
            <div class="stat-number">400+</div>
            <div class="stat-label">Articles</div>
        </div>
        <div class="stat-item">
            <div class="stat-number">200+</div>
            <div class="stat-label">Readers</div>
        </div>
        <div class="stat-item">
            <div class="stat-number">10+</div>
            <div class="stat-label">Editors</div>
        </div>
    </div>
</div>

<!-- Latest Publications -->
<section class="publications">
    <div class="pub-header">
        <h2>Latest Publications</h2>
        <a href="/journal" class="view-all">View All Publications →</a>
    </div>
    <div class="pub-grid">
        {% for journal in journals %}
        <div
            class="pub-card"
            onclick="window.location.href='/journals/{{journal.id_string()}}'"
            style="cursor: pointer"
        >
            <div class="pub-vol">
                Volume: {{journal.volume_number}}, Pages: {{journal.pages}}
            </div>
            <div class="pub-title">{{journal.title}}</div>
            <div class="pub-abstract">
                <strong>Abstract:</strong>
                <p>{{journal.abstract_text}}</p>
            </div>
            <div class="pub-meta">
                <img src="/static/assets/group.png" alt="Category icon" />
                <span>{{journal.keywords}}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
