{% extends "layouts/base.html" %} {% block content %}
<div class="container">
    <div class="editorial-head">
        <h1>Editorial Board</h1>
        <p class="subtitle">
            A diverse team of experts committed to promoting innovative research
        </p>
    </div>

    <div class="grid">
        <!-- Profile Cards -->
        <div class="profile">
            <img src="/static/assets/fatukasi.jpeg" alt="Professor A. A. Fatukasi" />
            <h3>Professor A. A. Fatukasi</h3>
            <p><strong>Editor-in-Chief</strong></p>
            <p>Department of Economics, Faculty of The Social Sciences</p>
            <p>Adekunle Ajasin University</p>
            <p>Akungba-Akoko, Ondo State, Nigeria</p>
        </div>

        <div class="profile">
            <img src="/static/assets/fadiran.jpeg" alt="Dr. Mrs. T. P. Fadiran" />
            <h3>Dr. Mrs. T. P. Fadiran</h3>
            <p><strong>Managing Editor</strong></p>
            <p>Department of Economics, Faculty of The Social Sciences</p>
            <p>Adekunle Ajasin University</p>
            <p>Akungba-Akoko, Ondo State, Nigeria</p>
        </div>

        <div class="profile">
            <h3>Dr. Mrs. B. V. Kudaisi</h3>
            <p><strong>Editor</strong></p>
            <p>Department of Economics, Faculty of The Social Sciences</p>
            <p>Adekunle Ajasin University</p>
            <p>Akungba-Akoko, Ondo State, Nigeria</p>
        </div>

       
    </div>

    <div class="editorial-head" style="margin: 30px 0px;">
        <h1>Editorial Advisory Board Members</h1>
    </div>

    <div class="grid">
        <div class="profile">
            <!-- <img src="/static/assets/olorunfemi.jpeg" alt="Prof Sola Olorunfemi" /> -->
            <h3>Prof. Sola Olorunfemi</h3>
            <!-- <p><strong>Editorial Advisory Board Members</strong></p> -->
            <p>Department of Economics, Faculty of The Social Sciences</p>
            <p>Adekunle Ajasin University</p>
            <p>Akungba-Akoko, Ondo State, Nigeria</p>
        </div>

        <div class="profile">
            <h3>Prof. (Mrs.) M. M. Fasoranti</h3>
            <!-- <p><strong>Editorial Advisory Board Members</strong></p> -->
            <p>Department of Economics, Faculty of The Social Sciences</p>
            <p>Adekunle Ajasin University</p>
            <p>Akungba-Akoko, Ondo State, Nigeria</p>
        </div>

        <div class="profile">
            <h3>Prof. E.F. Ogunbodede</h3>
            <!-- <p><strong>Editorial Advisory Board Members</strong></p> -->
            <p>Department of Geography, Faculty of The Social Sciences</p>
            <p>Adekunle Ajasin University</p>
            <p>Akungba-Akoko, Ondo State, Nigeria</p>
        </div>

        <div class="profile">
            <h3>Prof. S.O. Akinmulegun</h3>
            <!-- <p><strong>Editorial Advisory Board Members</strong></p> -->
            <p>Department of Finance, Faculty of The Social Sciences</p>
            <p>Adekunle Ajasin University</p>
            <p>Akungba-Akoko, Ondo State, Nigeria</p>
        </div>
        
        <div class="profile">
            <h3>Dr. A. S, Bakare</h3>
            <!-- <p><strong>Editorial Advisory Board Members</strong></p> -->
            <p>Department of Economics, Faculty of The Social Sciences</p>
            <p>Adekunle Ajasin University</p>
            <p>Akungba-Akoko, Ondo State, Nigeria</p>
        </div>

        <div class="profile">
            <h3>Dr. A. B. Ibironke</h3>
            <!-- <p><strong>Editorial Advisory Board Members</strong></p> -->
            <p>Department of Economics, Faculty of The Social Sciences</p>
            <p>Adekunle Ajasin University</p>
            <p>Akungba-Akoko, Ondo State, Nigeria</p>
        </div>
    </div>
</div>
{% endblock %}
